<div class="jumbotron">
    <h3 class="adjust-header" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{app}}</h3>

    <ui-alert ng-if="error" title="Ops, aconteceu um problema!">{{error}}</ui-alert>

    <hr>
    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando ?">
    <table ng-show="pedidos.length" class="table">
        <tr>
            <th>Id:</th>
            <th><a href="" ng-click="ordenarPor('situacao')">Situação:</a></th>
            <th>Ações</th>
        </tr>

        <tr ng-repeat="pedido in pedidos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td>{{pedido.id}}</td>
            <td>{{pedido.situacao}}</td> <!--Pipe-->
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a ng-show="pedido.situacao.includes('Aberto')" class="dropdown-item" href=""
                            data-bs-toggle="modal" data-bs-target="#exampleModal" ng-click="editarPedido(pedido.id)">Editar</a>
                        <a ng-show="pedido.situacao.includes('Aberto')" class="dropdown-item cor1" href="" ng-click="excluirPedido(pedido.id)">Apagar</a>
                        <a class="dropdown-item cor2" href="" ng-click="baixarPDF(pedido.id)">Baixar PDF</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <!--Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="pedidoForm">
                    <select ng-options="situacao for situacao in situacoes" ng-model="pedido.situacao" ng-required="true">
                        <option value="">Situação do Pedido</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" ng-click="submitUpdate(pedido)" ng-disabled="pedidoForm.$invalid">Editar Pedido</button>
            </div>
          </div>
        </div>
      </div>
    <!--Modal-->

    <a class="btn btn-primary btn-block" href="#!/adicionarpedidos">Adicionar Pedido</a>
    <a class="btn adjust-button" href="#!/produtos">&#10094; Produtos</a>
</div>